ckup files
*~

# Misc tags/ctags files
tags
TAGS
TAGS_sorted_by_file

# googletest files
source_downloads

# Vim swap files
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Configuration files for Visual Studio Code
.vscode/
 

#compile temporary dirs and files
bld
mysql_install

#will automatic unzip from depend/boost_1_70_0.tgz
depend/boost_1_70_0

#the eclipse project files,don't push to git
.cproject
.project
.settings/
