#implicit_pk_rpl_cascade requires explicitly declared servers

!include include/default_mysqld.cnf

[mysqld.1]
log-slave-updates
[mysqld.2]
log-slave-updates
[mysqld.3]
log-slave-updates
[mysqld.4]
log-slave-updates
[mysqld.5]
log-slave-updates

[ENV]
SERVER_MYPORT_1= @mysqld.1.port
SERVER_MYPORT_2= @mysqld.2.port
SERVER_MYPORT_3= @mysqld.3.port
SERVER_MYPORT_4= @mysqld.4.port
SERVER_MYPORT_5= @mysqld.5.port
